In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('Highest Holywood Grossing Movies.csv')

In [3]:
df.head()

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  918 non-null    int64
 1   Title                       918 non-null    object
 2   Movie Info                  918 non-null    object
 3   Distributor                 918 non-null    object
 4   Release Date                800 non-null    object
 5   Domestic Sales (in $)       918 non-null    int64
 6   International Sales (in $)  918 non-null    int64
 7   World Sales (in $)          918 non-null    int64
 8   Genre                       918 non-null    object
 9   Movie Runtime               918 non-null    object
 10  License                     744 non-null    object
dtypes: int64(4), object(7)
memory usage: 79.0+ KB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,918.0,4.585000e+02,2.651481e+02,0.0,2.292500e+02,458.5,6.877500e+02,9.170000e+02
Domestic Sales (in $),918.0,1.677469e+08,1.040360e+08,80360843.0,1.016071e+08,132135096.0,1.913905e+08,9.366622e+08
International Sales (in $),918.0,2.301434e+08,2.176011e+08,260.0,8.845620e+07,163881928.0,2.885577e+08,2.086739e+09
World Sales (in $),918.0,3.968668e+08,3.082629e+08,81600000.0,2.005564e+08,301941607.0,4.750718e+08,2.847246e+09

In [6]:
df.isna().sum()

Unnamed: 0                      0
Title                           0
Movie Info                      0
Distributor                     0
Release Date                  118
Domestic Sales (in $)           0
International Sales (in $)      0
World Sales (in $)              0
Genre                           0
Movie Runtime                   0
License                       174
dtype: int64

In [7]:
df = df.dropna()

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 744 entries, 0 to 917
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  744 non-null    int64
 1   Title                       744 non-null    object
 2   Movie Info                  744 non-null    object
 3   Distributor                 744 non-null    object
 4   Release Date                744 non-null    object
 5   Domestic Sales (in $)       744 non-null    int64
 6   International Sales (in $)  744 non-null    int64
 7   World Sales (in $)          744 non-null    int64
 8   Genre                       744 non-null    object
 9   Movie Runtime               744 non-null    object
 10  License                     744 non-null    object
dtypes: int64(4), object(7)
memory usage: 69.8+ KB

In [9]:
df.columns

Index(['Unnamed: 0', 'Title', 'Movie Info', 'Distributor', 'Release Date',
       'Domestic Sales (in $)', 'International Sales (in $)',
       'World Sales (in $)', 'Genre', 'Movie Runtime', 'License'],
      dtype='object')

In [10]:
df = df.drop(columns=['Unnamed: 0', 'Movie Info'])
df.columns

Index(['Title', 'Distributor', 'Release Date', 'Domestic Sales (in $)',
       'International Sales (in $)', 'World Sales (in $)', 'Genre',
       'Movie Runtime', 'License'],
      dtype='object')

In [11]:
df.duplicated().sum()

0

In [12]:
int_types = ["uint8", "int8", "int16"]
for it in int_types:
    print(np.iinfo(it))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

In [13]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 744 entries, 0 to 917
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       744 non-null    object
 1   Distributor                 744 non-null    object
 2   Release Date                744 non-null    object
 3   Domestic Sales (in $)       744 non-null    int64
 4   International Sales (in $)  744 non-null    int64
 5   World Sales (in $)          744 non-null    int64
 6   Genre                       744 non-null    object
 7   Movie Runtime               744 non-null    object
 8   License                     744 non-null    object
dtypes: int64(3), object(6)
memory usage: 352.0 KB

In [14]:
for dtype in ['float','int','object']:
    selected_dtype = df.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024
    print("Average memory usage for {} columns: {:03.3f} KB".format(dtype,mean_usage_mb))

Average memory usage for float columns: 5.812 KB
Average memory usage for int columns: 5.812 KB
Average memory usage for object columns: 47.791 KB

In [15]:
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else:
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 # преобразуем байты в килобайты
    return "{:03.3f} KB".format(usage_mb)

In [16]:
df_int = df.select_dtypes(include=['int'])
converted_int = df_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(df_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([df_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

23.250 KB
14.531 KB

        before  after
uint32     NaN    3.0
int64      3.0    NaN

In [17]:
df_float = df.select_dtypes(include=['float'])
converted_float = df_float.apply(pd.to_numeric,downcast='float')

print(mem_usage(df_float))
print(mem_usage(converted_float))

compare_floats = pd.concat([df_float.dtypes,converted_float.dtypes],axis=1)
compare_floats.columns = ['before','after']
compare_floats.apply(pd.Series.value_counts)

5.812 KB
5.812 KB

Empty DataFrame
Columns: [before, after]
Index: []

In [18]:
optimized_df = df.copy()

optimized_df[converted_int.columns] = converted_int
optimized_df[converted_float.columns] = converted_float

print(mem_usage(df))
print(mem_usage(optimized_df))

351.975 KB
343.256 KB

In [19]:
df_obj = df.select_dtypes(include=['object']).copy()
df_obj.describe().T

,count,unique,top,freq
Title,744,744,Star Wars: Episode VII - The Force Awakens (2015),1
Distributor,744,31,Warner Bros.,126
Release Date,744,694,"March 20, 2014",3
Genre,744,257,"['Action', 'Adventure', 'Sci-Fi']",51
Movie Runtime,744,97,1 hr 55 min,21
License,744,4,PG-13,363

In [20]:
converted_obj = pd.DataFrame()
for col in df_obj.columns:
    num_unique_values = len(df_obj[col].unique())
    num_total_values = len(df_obj[col])
    if num_unique_values / num_total_values < 0.5:
        converted_obj.loc[:,col] = df_obj[col].astype('category')
    else:
        converted_obj.loc[:,col] = df_obj[col]

In [21]:
print(mem_usage(df_obj))
print(mem_usage(converted_obj))

compare_obj = pd.concat([df_obj.dtypes,converted_obj.dtypes],axis=1)
compare_obj.columns = ['before','after']
compare_obj.apply(pd.Series.value_counts)

334.537 KB
165.438 KB

          before  after
object       6.0      2
category     NaN      1
category     NaN      1
category     NaN      1
category     NaN      1

In [22]:
optimized_df[converted_obj.columns] = converted_obj
mem_usage(optimized_df)

'174.157 KB'

In [23]:
df = optimized_df

In [24]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 744 entries, 0 to 917
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       744 non-null    object
 1   Distributor                 744 non-null    category
 2   Release Date                744 non-null    object
 3   Domestic Sales (in $)       744 non-null    uint32
 4   International Sales (in $)  744 non-null    uint32
 5   World Sales (in $)          744 non-null    uint32
 6   Genre                       744 non-null    category
 7   Movie Runtime               744 non-null    category
 8   License                     744 non-null    category
dtypes: category(4), object(2), uint32(3)
memory usage: 174.2 KB

In [25]:
df.sample(10)

,Title,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
156,Star Trek Into Darkness (2013),Paramount Pictures,"May 8, 2013",228778661,238586585,467365246,"['Action', 'Adventure', 'Sci-Fi']",2 hr 12 min,PG-13
446,Identity Thief (2013),Universal Pictures,"February 7, 2013",134506920,39458090,173965010,"['Comedy', 'Crime', 'Drama']",1 hr 51 min,R
726,You Don't Mess with the Zohan (2008),Sony Pictures Entertainment (SPE),"June 5, 2008",100018837,104294563,204313400,['Comedy'],1 hr 53 min,PG-13
771,Two Weeks Notice (2002),Warner Bros.,"December 20, 2002",93354851,105688620,199043471,"['Comedy', 'Romance']",1 hr 41 min,PG-13
532,50 First Dates (2004),Sony Pictures Entertainment (SPE),"February 13, 2004",120908074,77612860,198520934,"['Comedy', 'Drama', 'Romance']",1 hr 39 min,PG-13
147,X-Men: The Last Stand (2006),Twentieth Century Fox,"May 24, 2006",234362462,226072829,460435291,"['Action', 'Adventure', 'Sci-Fi']",1 hr 44 min,PG-13
1,Avengers: Endgame (2019),Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
194,300 (2006),Warner Bros.,"March 7, 2007",210614939,245453242,456068181,"['Action', 'Drama']",1 hr 57 min,R
909,Snow Dogs (2002),Walt Disney Studios Motion Pictures,"January 18, 2002",81172560,33862530,115035090,"['Adventure', 'Comedy', 'Family', 'Sport']",1 hr 39 min,PG
758,Julie & Julia (2009),Sony Pictures Entertainment (SPE),"August 6, 2009",94125426,35415096,129540522,"['Biography', 'Drama', 'Romance']",2 hr 3 min,PG-13

In [26]:
df['scoring action'] = df['goals'] + df['assists']
df['total cards'] = df['yellow cards'] + df['second yellow cards'] + df['red cards']

KeyError: 'goals'

In [ ]:
df.head()

In [ ]:
df_by_each_age = df.pivot_table(index='age',
                               values='name',
                               aggfunc='count')

In [ ]:
sns.lineplot(data=df_by_each_age)
sns.set_style('darkgrid')
plt.title('Количество игроков каждого возраста')
plt.xlabel('Возраст')
plt.ylabel('Количество игроков')
plt.legend('')

In [ ]:

top_positions = df.groupby('Distributor')['Distributor'].count()
positions = top_positions.index

In [ ]:
plt.figure(figsize=(25,7))
plt.pie(x=top_positions, labels=positions, autopct="%.2f")

In [ ]:
top_5_countries = df.pivot_table(index='country', 
                                  values='name',
                                  aggfunc='count').sort_values(by='name', ascending=False).head(5)
top_5_countries = top_5_countries.reset_index()
top_5_countries

In [ ]:
country_list = ['England','France','Spain','Brazil','Germany']

In [ ]:
for country in country_list:
    df[df['country'] == country].pivot_table(index='position',
                                             values='name',
                                             aggfunc='count').plot(kind='bar', figsize=(13,2))
    plt.title(country)
    plt.legend('')

In [ ]:
min_price = df.pivot_table(index='position',
                           values='markey value in millions(£)',
                           aggfunc='min').sort_values(by='markey value in millions(£)', ascending=False)
mean_price = df.pivot_table(index='position',
                           values='markey value in millions(£)',
                           aggfunc='mean').sort_values(by='markey value in millions(£)', ascending=False)
max_price = df.pivot_table(index='position',
                           values='markey value in millions(£)',
                           aggfunc='max').sort_values(by='markey value in millions(£)', ascending=False)
mean_price

In [ ]:
min_price = df.pivot_table(index='Distributor',
                           values='World Sales (in $)',
                           aggfunc='min').sort_values(by='World Sales (in $)')
plt.figure(figsize=(20,4))
plt.xticks(rotation=90)
sns.barplot(x=min_price.index,y=min_price['World Sales (in $)'])
plt.title('Максимальные сборы по миру')
plt.xlabel('Фильм')
plt.ylabel('Мировые сборы')

In [ ]:
mean_price = df.pivot_table(index='position',
                           values='markey value in millions(£)',
                           aggfunc='mean').sort_values(by='markey value in millions(£)')
plt.figure(figsize=(20,4))
sns.barplot(x=mean_price.index,y=mean_price['markey value in millions(£)'])
plt.title('Средняя стоимость позиции')
plt.xlabel('Позиция')
plt.ylabel('Стоимость')

In [ ]:
max_price = df.pivot_table(index='Distributor',
                           values='World Sales (in $)',
                           aggfunc='max').sort_values(by='World Sales (in $)')
plt.figure(figsize=(20,4))
plt.xticks(rotation=90)
sns.barplot(x=max_price.index,y=max_price['World Sales (in $)'])
plt.title('Максимальные сборы по миру')
plt.xlabel('Издатель')
plt.ylabel('Мировые сборы')

In [ ]:
for country in country_list:
    df[df['country'] == country].pivot_table(index='position',
                                             values='markey value in millions(£)',
                                             aggfunc='mean').plot(kind='bar', figsize=(13,2))
    plt.title(country)
    plt.legend('')

In [ ]:
df['position'].unique()

In [ ]:
df_a = df[df['position'].isin(['Centre-Forward','Left Winger','Right Winger','Second Striker', 'Attacking Midfield'])]

In [ ]:
pd.plotting.scatter_matrix(df_a[['markey value in millions(£)','age','scoring action']],figsize=(10,10))

In [ ]:
df_a_filter = df_a[['International Sales','License','Movie Runtime']]
plt.figure(figsize=(1,3))
sns.heatmap(df_a_filter.corr()[['markey value in millions(£)']].sort_values(by='markey value in millions(£)', 
                                                                            ascending=False),cmap='Blues',annot=True)

In [ ]:
mean_foul = df.pivot_table(index='Distributor',
                           values='Domestic Sales (in $)',
                           aggfunc='mean').sort_values(by='Distributor')

In [ ]:
plt.figure(figsize=(18,6))
plt.xticks(rotation=90)
sns.lineplot(data=mean_foul)
sns.set_style('darkgrid')
plt.title('Средняя сумма сборов в домашнем прокате')
plt.xlabel('Издатели')
plt.ylabel('Домашние сборы')
plt.legend('')

In [ ]:
ax = sns.displot(data=df,x='License',color='blue',bins=20,kde=True)
ax.fig.set_figheight(5)
ax.fig.set_figwidth(5)
plt.xticks(rotation=90)
plt.title('Количество фильмов по возрастному рейтингу')
plt.xlabel('Возрастной рейтинг')
plt.ylabel('Количество')

In [ ]:
sns.heatmap(df.corr(),annot = True)